<a href="https://colab.research.google.com/github/yusufsahin/python-training-maro/blob/main/ders05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SQL Connection

In [2]:
import sqlite3

conn=None
try:
  conn=sqlite3.connect(':memory:') #with ile ödev

  conn.execute("CREATE TABLE person (id INT, first_name TEXT, last_name TEST)")
  conn.execute("INSERT INTO person VALUES (1, 'John', 'Smith')")
  conn.execute("INSERT INTO person VALUES (2, 'Jane', 'Smith')")
  conn.execute("INSERT INTO person VALUES (3, 'Bob', 'Smith')")
  conn.commit()
  for row in conn.execute("SELECT * FROM person"):
    print(row)
except sqlite3.Error as e:
  print("SQL Lite hatası ",e)
  if conn is not None:
    conn.rollback()
except Exception as e:
  print("Beklenmeyen Hata ",e)
  if conn is not None:
    conn.rollback()
finally:
  if conn is not None:
    conn.close()

(1, 'John', 'Smith')
(2, 'Jane', 'Smith')
(3, 'Bob', 'Smith')